{%extends 'base/common/main.html'%} {%block content%}
<div class="container">
    <article class="docs-article">
        <header class="docs-header">
            <h3>Voice recognition development</h3>
            <section class="docs-intro">
                <p><a target=”_blank” href="{%url 'document' 'speaker-recognition-development&overview'%}">Overview</a> | 
                    <a target=”_blank” href="{%url 'document' 'speaker-recognition-development&brief-history-of-voice-recognition'%}">Brief history of Voice Recognition</a> | 
                    <a target="_blank" href="{%url 'document' 'speaker-recognition-development&classification-of-speaker-recognition'%}">Classification of Speaker Recognition</a>
                </p>
            </section> 
        </header>
        <hr>

        <header class="docs-header">
            <h3>Audio signal feature extraction</h3>
            <section class="docs-intro">
                <p><a target=”_blank” href="{%url 'document' 'audio-signal-feature-extraction&short-time-analysis'%}">Short-time Analysis</a> | 
                    <a target=”_blank” href="{%url 'document' 'audio-signal-feature-extraction&time-domain-features'%}">Time domain features</a> | 
                    <a target=”_blank” href="{%url 'document' 'audio-signal-feature-extraction&frequency-domain-features'%}">Frequency domain features</a> | 
                    <a target=”_blank” href="{%url 'document' 'audio-signal-feature-extraction&commonly-used-features'%}">Commonly used features</a></p>
            </section>
        </header>
        <hr>

        <header class="docs-header">
            <h3>Speaker recognition basics</h3>
            <section class="docs-intro">
                <p><a target="blank_" href="{%url 'document' 'speaker-recognition-basics&workflow-of-speaker-recognition-systems'%}">Workflow of speaker recognition systems</a>
            </section>
        </header>
        <hr>
    </article>
    <!--//docs-article-->

</div>
{%endblock content%}